.image-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
  }
  
  .image-container img {
    width: 500px;
    margin-top: 20px; /* Espaçamento adicional no topo */
  }
  
  .bg-beige {
    background-color: rgb(211, 173, 91);
}

body.login {
  background-color: beige; /* Cor de fundo mais clara */
  position: relative;
}

.btn-back {
  position: absolute;
  top: 10px; /* Ajuste para mover mais para cima */
  left: 20px;
  background-color: rgb(211, 173, 91);; /* Cor azul padrão do Bootstrap */
  border-color: rgb(211, 173, 91);; /* Cor da borda igual à cor de fundo */
}

.btn-back:hover {
  background-color: rgb(210, 153, 30);; /* Cor azul mais escura ao passar o mouse */
  border-color: rgb(210, 153, 30);; /* Cor da borda igual à cor de fundo ao passar o mouse */
}

.btn-primary {
  background-color: rgb(211, 173, 91);; /* Cor azul padrão do Bootstrap */
  border-color: rgb(211, 173, 91);; /* Cor da borda igual à cor de fundo */
}

.btn-primary:hover {
  background-color: rgb(210, 153, 30);; /* Cor azul mais escura ao passar o mouse */
  border-color: rgb(210, 153, 30);; /* Cor da borda igual à cor de fundo ao passar o mouse */
}


.container {
  max-width: 400px; /* Largura máxima do container para melhor legibilidade */
  margin-top: 50px; /* Margem superior para centralizar na página */
}

h2 {
  color: rgb(211, 173, 91); /* Cor RGB(211, 173, 91) para o título */
  text-align: center; /* Centralizar o título */
  margin-bottom: 30px; /* Espaço inferior para separar do formulário */
}

label.login {
  font-weight: bold; /* Texto do label em negrito */
}

form.login {
  background-color: #ffffff; /* Fundo branco para o formulário */
  padding: 20px; /* Espaçamento interno */
  border-radius: 10px; /* Cantos arredondados */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

button[type="submit"] {
  width: 100%; /* Botão de largura total */
  background-color: rgb(211, 173, 91); /* Cor RGB(211, 173, 91) para o botão */
  border-color: rgb(211, 173, 91); /* Cor da borda igual à cor do botão */
}

.mt-3 {
  text-align: center; /* Centralizar o texto */
}


body {
  background-color: beige; /* Cor de fundo bege */
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.image-container img {
  max-width: 80%;
  max-height: 80%;
}


.custom-text-color {
  color: white;
}

.custom-text-color:hover {
  color: white;
}

.georgia-font {
  font-family: Georgia, serif;
  font-size: 21px;
  color: rgb(137, 97, 16);
}