.image-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
  }
  



  .pequena {
    position: center;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    width: 230px;
  }

  
  .bg-beige {
    background-color: rgb(211, 173, 91);
}

body.login {
  background-color: beige;
  background-image: url('logo.png');
  background-size: 20%; 
  background-position: center top;
  background-repeat: no-repeat; 
  height: 100vh; 
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  
}

body.about {
  background-color: beige; 
  background-image: url('logo.png');
  background-size: 20%; 
  background-position: center top; 
  background-repeat: no-repeat; 
  height: 100vh; 
  margin: 0; 
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  
}

.btn-back {
  position: absolute;
  top: 10px; 
  left: 20px;
  background-color: rgb(211, 173, 91);;
  border-color: rgb(211, 173, 91);;
}

.btn-back:hover {
  background-color: rgb(210, 153, 30);;
  border-color: rgb(210, 153, 30);; 
}

.btn-primary {
  background-color: rgb(211, 173, 91);; 
  border-color: rgb(211, 173, 91);; 
}


.btn-primary:hover {
  background-color: rgb(210, 153, 30);;
  border-color: rgb(210, 153, 30);; 
}

.navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.725) !important; 
}


.container {
  max-width: 400%; 
  margin-top: 20px; 
  margin-left: 50px;
}

.container2 {
  max-width: 400%; 
  margin-top: 20px; 
  margin: 20px auto;
  justify-content: center;
}

h2{
  color: rgb(211, 173, 91); 

  margin-bottom: 30px; 
  font-family: Candara, sans-serif;
  margin-top: 80px;
}

h3{
  color: rgb(211, 173, 91); 
  margin-left: 60px;
 font-size: 35px;
  margin-bottom: 30px; 
  font-family: Candara, sans-serif;
  margin-top: 80px;
}

h1{
  
  text-align: center; 
  margin-bottom: 30px; 
  font-family: Candara, sans-serif;
  font-size: 1.5rem;
}

label.login {
  font-weight: bold; 
}

form.login {
  background-color: #ffffff; 
  padding: 20px;
  border-radius: 10px; 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

button[type="submit"] {
  width: 100%; 
  background-color: rgb(211, 173, 91); 
  border-color: rgb(211, 173, 91);
}

.mt-3 {
  text-align: center; 
}


body {
  background-color: beige; 
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.image-container img {
  max-width: 80%;
  max-height: 80%;
}


.custom-text-color {
  color: white;
}

.custom-text-color:hover {
  color: white;
}

.georgia-font {
  font-family: Georgia, serif;
  font-size: 21px;
  color: rgb(137, 97, 16);
}


.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 35px;
  margin: 16px;
  display: inline-block;
  width: 300;
  text-align: center;
  cursor: pointer;

  img {
    width: 150px;
  margin-bottom: 8px;
  align-items: center;
  }
}





#popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 50px;
  border: 1px solid black;
  border-radius: 8px;
  z-index: 1000;
}

#popup-background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.cross {
  width: 20px; 
  height: 20px; 
  border: 1px solid black; 
  position: absolute; 
  right: 0; 
  top: 50%; 
  transform: translateY(-50%); 
  cursor: pointer; 
}

.terms-link {
  color: blue; 
  text-decoration: underline; 
  cursor: pointer; 
}

.square {
  width: 20px;
  height: 20px; 
  border: 1px solid black; 
  position: absolute; 
  left: -25px; 
  top: 50%; 
  transform: translateY(-50%); 
  cursor: pointer; 
}

table {
  width: 95%;
  border-collapse: separate;
  margin-left: 50px;
  background-color: #f6d70a00;
}
th, td {
  margin-left: 50px;
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid rgb(197, 155, 64);;
  color: rgb(136, 90, 4);
}
th {
  background-color: rgb(211, 173, 91); 
  margin-left: 50px;
}